<section id="portfolio-section" class="portfolio home-section gap">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Projects</h2>
                <p class="lead w-60"> Learn about our latests projects that are in the works.</p>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" class="projects">
            <div fxFlex="33.33">
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="assets/images/abigaleCypherLogo.png">
                    <mat-card-content>
                        <div class="title-head">
                            <h4><strong><a href="">The Abigale Cypher</a></strong></h4>
                        </div>
                        <p>
                            In this noir thriller the story follows detective David Miller on his search for his missing daughter. As he fights for the life of his daughter and his fading grip on reality. Will he find the truth.... or be consumed by it?
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>