<footer class="footer-wrapper">

    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
            <div fxFlex="33.33" class="footer-item">
                <div class="footer-logo">
                    <h2>Void Softworks</h2>
                </div>
                <button mat-raised-button color="primary">Contact Us</button>
            </div>
            <div fxFlex="33.33" class="footer-item">

                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="primary">email</mat-icon>
                        <p class="text-footer"> devteam@voidsoftworks.com </p>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="primary">location_on</mat-icon>
                        <p class="text-footer">504 BroadRidge Dr. Jackson, MO</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div fxFlex="33.33" class="footer-item">
                <div class="mb-1">
                    <a href="https://twitter.com/voidsoftworks"><img src="assets/images/twitter_social_icon.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>