<section id="intro-one-section" class="home-intro-section text-center primary-bg">
    <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
        <div class="home-intro-subtitle">
        </div>
        <h1 class="home-intro-title"></h1>
        <p class="home-intro-text"></p>
        <div class="intro-product">
        </div>
    </div>
</section>
<div id="feature-section" class="featured-two gap bg-grey">
    <div class="container">
        <div fxLayout='column' class="text-center mb-5">
            <div fxFlex.gt-md="60%">
                <h2 class="title-page">Who We Are</h2>
                <p class="lead w-60">We are the creators of Void Softworks and our main mission is to make games that we ourselves as gamers have always wanted to play. We are extremely talented, driven and determined to see our vision for games become reality. We feel like we have new and interesting ideas about the narrative and gameplay in games. We hope that we will gain your support as we embark on this journey.</p>
            </div>
        </div>
    </div>
</div>